*{
    margin: 0;
    padding: 0;
    
}
.container {
    width: 100%;
    margin: 0 auto;
  }
  
  .nav {
    width: 100%;
    display:inline-block;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(11, 11, 34);
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
 

  
  .nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .utile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .utile ul {
    list-style: none;
  }
  
  .utile li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .utile a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }
  
  .utile h1 {
    font-size: 36px;
    margin-bottom: 0;
  }
  
  .utile h2 {
    display: flex;
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
    text-align: center;
  }
  
  .liens {
    margin-top: 20px;
  }
  
  .liens button {
    background-color: gainsboro;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 15px;
  }
  
  .liens a {
    text-decoration: none;
    color:black;
  }
  
  .liens p {
    margin-top: 20px;
    font-size: 14px
  }

      

.div3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
   
}
.div4 { grid-area: 4 / 1 / 5 / 2; 
    margin: 0;
    text-align: center;
}
.div5 { grid-area: 5 / 1 / 6 / 2; 
    margin: 0;
    text-align: center;
}