* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: rgb(17, 17, 66);
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav li {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  margin-left: 0%;
}

.nav > .nav-btn {
  display: inline-block;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}
.nav-btn {
  background-color: red;
}
.nav li:nth-child(-n+8) {
  float: left;
}

.nav li:nth-child(n+9) {
  display: flex;
  flex-direction: row-reverse;
  float: right;
}
.nav-header {
  clear: both;
}
.nav li a {
  color: white;
}

.nav > .nav-links > a {
  color: white;
}
.nav li {
  display: inline-block;
}

.nav > .nav-links > a {
  display: inline-block;
}
.nav li {
  font-size: 22px;
}

.nav > .nav-links > a {
  font-size: 22px;
}
.nav > .nav-links > a:nth-child(4) {
  background-color: #ff0000;
}

.utile {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.container {
  position: relative;
  width: 50%;
  top: 30px;
  border: 1px solid black;
  padding: 10px;
  grid-gap: 10px;
}
.container {
  display: flex;
  flex-direction: column;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* divide the container into two equal-width columns */
}

/* Style the left column */
.container .liens,
.container h1,
.container h2,
.container .div4,
.container .div5 {
  grid-column: 1 / 2; /* span the left column */
}

/* Style the right column */
.container .profile,
.container .photo,
.container ul {
  grid-column: 2 / 3; /* span the right column */
}


.container #liens {
  grid-row: 1; /* display .liens in the third row */
}

.container .div4 {
  grid-row: 2; 
  top:0%/* display .div4 in the fourth row */
}

.container .div5 {
  grid-row: 3; 

}
.container .profile {
  top: 50%;
  width: 280px;
  height: 600px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile .photo {
  width: 100%;
  height: auto;
  object-fit: cover;
 
}

.profile p {
  margin: 0;
  padding: 10px;
  text-align: center;
  list-style: none;
}





















@media screen and (max-width: 600px) {
  .nav > .nav-links {
    display: none;
  }
  .nav > #nav-check {
    display: block;
  }
  .nav li {
    display: block;
    text-align: center;
    width: 100%;
  }
  .nav > .nav-links > a:nth-child(2) {
    display: none;
  }
}

















































/* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: rgb(17, 17, 66);
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav li {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  margin-left: 0%;
}

.nav > .nav-btn {
  display:inline-block;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;

  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}
.nav-btn{
  background-color: red;
}
.nav li:nth-child(-n+8) {
  float: left;
}

.nav li:nth-child(n+9) {
  display: flex;
  flex-direction: row-reverse;
  float: right;
}
.nav-header {
  clear: both;
}
.nav li a{
  color: white;
}

.nav > .nav-links > a {
  color: white;
}
.nav li {
  display: inline-block;
}

.nav > .nav-links > a {
  display: inline-block;
}
.nav li {
  font-size: 22px;
}

.nav > .nav-links > a {
  font-size: 22px;
}
.nav > .nav-links > a:nth-child(4) {
  background-color: #ff0000;
}




  



/*@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  
  .nav li {
    display: block;
    float: none;
  }
  
  .nav li:nth-child(1) {
    display: flex;

  }

}






















































/* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: white;
}



.nav > #nav-check {
  display: none;
}
.nav li{
  display: inline-block;
  
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}




































/*.container {
    width: 100%;
    margin: 0 auto;
  }
  
  .nav {
    width: 100%;
    display:inline-block;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(11, 11, 34);
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
 

  
  .nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .utile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .utile ul {
    list-style: none;
  }
  
  .utile li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .utile a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }
  
  .utile h1 {
    font-size: 36px;
    margin-bottom: 0;
  }
  
  .utile h2 {
    display: flex;
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
    text-align: center;
  }
  
  .liens {
    margin-top: 20px;
  }
  
  .liens button {
    background-color: gainsboro;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 15px;
  }
  
  .liens a {
    text-decoration: none;
    color:black;
  }
  
  .liens p {
    margin-top: 20px;
    font-size: 14px
  }

      

.div3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
   
}
.div4 { grid-area: 4 / 1 / 5 / 2; 
    margin: 0;
    display: block;
}
.div5 { grid-area: 5 / 1 / 6 / 2; 
    margin: 0;
    display: block;
    
}